body{
    background: radial-gradient(circle at center, #001f3f, #000000);

    color: white;
    font-family: Arial;
    perspective: 1000px;
    line-height: 1.6;
    text-align: center;
}

.hero h1{
    font-size: 70px;

    color: cyan;

    text-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;
}